{% extends "layout.html" %}

{% block css %}
   body {
      font-family: "Hannari"; 
      font-weight: bold;
   }
   .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
{% endblock %}

{% block main %}
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui text container">
                <h1 class="ui inverted header">
                    <img class="icon icons8-Torii" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAABh0lEQVRoQ+1WgU3EMAw8TwAbwAYwwo/wI8AEMApMACMwAiPwG8AGMIGRX8mr5GvqipTkq7NUvT51W5/vzolgZSErwwMC6p1RMkSG/rkD65Ocqm4B3AF4T9cbgE8AOxGx3+5CVc8BXKXCNgDs/zWAxz1DqnoD4MmpPAO126+DnOF6Xv4QEVsPh6peArgoHrA1u3JY0Rbl+vCxWxF5PkgugXoAcBaupo/ELwD3BsbK+eEhVTXajIVTAWVgNiJiNtnH0VA4IVBHYEYBJU/1ztQoGBdQAmUGfBlMkz4cA+wAbL3h8+s+lMajeSqPyNagDIx5xt1OZm+sqqpjqERk9F1lfjTvYHLnvV5nCYgMFRKl5OihiUHseabV/PYk6x59ykIJaGHqyBAlt7DEytf/WXJRxqY+NIV77gmk2VluCki+T0BOpxY/bZOhogNzvUmGapl3qelJhshQcMzVahQlV6uTHApB6VJylFxQKrUaRcnV6iSnXFC6lFywUc3SZjPUrNLghwko2Khmad/yCECRddOrOAAAAABJRU5ErkJggg==" width="30" height="30">
                    鯖無神社
                </h1>
                <h2>あなたは {{ count }} 人目の参拝者です。</h2>
            </div>
        </div>
    </div>
    <pre>
        {{ request|pprint }}
    </pre>
    <a href="https://icons8.com">Icon pack by Icons8</a>

{% endblock %}
